#!/usr/bin/env bash

export POSTGRES_HOST="test"
export POSTGRES_PASSWORD="test"
export POSTGRES_DB="test"
export POSTGRES_USER="test"
export SSLMODE="disable"

eval "$(devbox generate direnv --print-envrc)"
